// counter styles  = c

.c-container {
  text-align: center;
  h1 {
    margin: 0;
  }
  label {
    vertical-align: middle;
    span {
      font-weight: bold;
      margin-bottom: 3px;
    }
    input {
      height: 24px;
    }
  }
}

.c-number-container {
  font-family: monospace;
  font-size: 20em;
}

.c-button-start,
.c-button-stop {
  padding: 4px 8px;
  background-color: #fff;
  border: rgba(0,0,0,0.3) 1px solid;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 12px;
  &:hover {
    background-color: #ebebeb;
  }
  &:focus {
    outline: none;
  }
}

.c-button-start {
  border-color: rgba(0,255,0,0.5);
  &:hover {
    border-color: rgba(0,255,0,1);
  }
}
.c-button-stop {
  border-color: rgba(255,0,0,0.5);
  &:hover {
    border-color: rgba(255,0,0,1);
  }
}


