@import 'mixins.scss';

.container {
  display: inline-block;
  min-width: 25%;
  background-color: #ffffff;
  padding: 20px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  margin: 0;
  @include x-y-centering;
}

.button {
  padding: 4px 8px;
  border: rgba(0,0,0,0.3) 1px solid;
  border-radius: 3px;
  font-size: 12px;
  &:hover {
    background-color: #ebebeb;
  }
  &:focus {
    outline: none;
  }
}

.block-level-elem {
  display: block;
}

.button-container {
  margin-bottom: 20px;
}

.validation-error  {
  font-weight: normal;
  font-size: .85rem;
  color: red;
  margin-left: 10px;
}

.form-group-spacing {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.input-radio-style {
  background-color: tan;
  margin-right: 10px;
  position: relative;
  top: 4px;
  &:focus {
    outline: none;
  }
}


