@mixin x-y-center-align {
  //parent container must be positioned relative
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

// counter styles  = c
// counter settings = cs

.c-container,
.cs-container {
  display: inline-block;
  min-width: 25%;
  background-color: #ffffff;
  padding: 20px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  @include x-y-center-align;
  h1 {
    margin: 0;
  }
}

.c-container {
  text-align: center;
}
.cs-container {
  text-align: left;
}

.cs-button-submit,
.cs-button-cancel,
.c-button-start-stop {
  padding: 4px 8px;
  background-color: #fff;
  border: rgba(0,0,0,0.3) 1px solid;
  border-radius: 3px;
  margin-right: 10px;
  &:hover {
    background-color: #ebebeb;
  }
}

.c-container,
.cs-container {
  label {
    span,
    input {
      display: block;
    }
    span {
      font-weight: bold;
      margin-bottom: 3px;
    }
    input {
      width: 100%;
      height: 24px;
    }
  }
}

// General Styles

.button-container {
  margin-bottom: 20px;
}

.large {
  font-size: 20em;
}

.form-group {
  margin-bottom: 20px;
}


