// counter settings = cs

.cs-container {
  text-align: left;
  h1 {
    margin: 0;
  }
  label {
    vertical-align: middle;
    span {
      margin-bottom: 3px;
    }
    input {
      height: 24px;
    }
  }
}

.cs-button-submit,
.cs-button-cancel {
  padding: 4px 8px;
  background-color: #fff;
  border: rgba(0,0,0,0.3) 1px solid;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 12px;
  &:hover {
    background-color: #ebebeb;
  }
  &:focus {
    outline: none;
  }
}


