// counter settings = cs

.cs-container {
  composes: container from "../../../stylesheets/base.scss";
  text-align: left;
  h1 {
    margin: 0;
  }
  label {
    vertical-align: middle;
    span {
      margin-bottom: 3px;
    }
    input {
      height: 24px;
    }
  }
}

.cs-form-group {
  composes: form-group-spacing from "../../../stylesheets/base.scss";
}
.cs-block-level {
  composes: block-level-elem from "../../../stylesheets/base.scss";
}
.cs-label {
  composes: label from "../../../stylesheets/base.scss";
  vertical-align: middle;
}
.cs-input-radio {
  composes: input-radio-style from "../../../stylesheets/base.scss";
}

.cs-button-submit,
.cs-button-cancel {
  composes: button from "../../../stylesheets/base.scss";
  background-color: #fff;
  margin-right: 10px;

}
